@font-face {
    font-family: death;
    src: url("../font/DEATHNOTE.ttf"), url("../font/DEATHNOTE.eot");     
}
.image-box-death{
	width: 100%;
    height: 100%;
	background: black;
    font-size:200px;
    font-family:death;
    text-transform: lowercase; 
    color:white;

}
.image-box-death .shadow-text{
 float:left;
 letter-spacing: -3px;
}

.image-box-death .first-char{
	text-transform: uppercase; 
	font-size:280px;

}
.image-box-death p{
	display:inline;
	float: left;
    margin: 0;
        margin-left: 35px;
	
}
.image-box-death p:first-letter{
	text-transform:uppercase
	
}
